.invitation {
  padding: 5%;
  max-width: 750px;
  margin: 0 auto;
  text-align: left;
}

.offers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}
